# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# data
*.xlsx
*.csv

# logs outputs
logs/*

# VScode
.vscode/

# production outputs
prod/forecasts/*
prod/models/**/.hydra
prod/models/**/csv
prod/models/**/*.log
prod/models/**/*.jpg
prod/models/**/*.nc
prod/models/**/checkpoints/last.ckpt

.DS_Store

TODO.md