# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# data
*.xlsx
*.csv

# logs outputs
logs/*

# VScode
.vscode/

# production outputs
prod/*
!prod/models/*best.ckpt

.DS_Store

TODO.md